/* Reset do browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* Para o scroll entre as ancoras ser smooth */
}

/* Fonte e bases */
body {
    font-family: "Inter", sans-serif;
    background-color: #EEECE8;
    color: #1f2933;
    line-height: 2;
    /* perto da recomendação mínima da W3C para altura das linhas nos sites (https://www.w3.org/WAI/WCAG22/Understanding/text-spacing.html) */
}

/*  Dark Mode */

#theme-toggle {
    border: 0px;
    background: transparent;
}

#theme-toggle:hover {
    cursor: pointer;
}

.dark-mode #theme-toggle {
    border: 0px;
    background: transparent;
    color: #fff;
}

.dark-mode .section-light, .dark-mode .section {
    background-color: #14181F;
    color: #fff;
}

.dark-mode .project-content {
    background-color: #14181F;

    border: 1px solid #363636;
}

.dark-mode .chip {
    border: 1px solid #fff;
    color: #fff;
}

.dark-mode .project-link {
    color: #fff;
}

.dark-mode .header {
    background-color: #14181F;
}

.dark-mode .header a {
    color: #fff;
}

.dark-mode .button {
    color: #fff;
}

h1,
h2,
h3 {
    font-family: "Playfair Display", serif;
}

h1 {
    margin-top: 8px;
    font-size: 48px;
    font-weight: 500;
    line-height: 52px;
}

h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
}

h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

/* Layouts */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 24px;
}

.section {
    padding: 60px 0;
}

.section-light {
    padding: 60px 0;
    background-color: #F9F7F5;
}

/* Navegação + Logo */
.header {
    position: sticky;
    top: 0;
    background-color: #F9F7F5;
    z-index: 1000;
}

.nav {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 600;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    line-height: 28px;
    color: #1f2933;
}

/* Menu */

.menu {
    display: flex;
    gap: 32px;
}

.menu a {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    padding: 16px;
    color: #000;
}

.menu a:hover {
    text-decoration: underline;
}

/* Hero */

.hero-grid {
    display: grid;
    gap: 48px;
}

.hero-image {
    display: flex;
    justify-content: flex-end;
}

.hero-image img {
    border-radius: 12px;
    max-height: 420px;
    width: auto;
}

.tag {
    font-size: 14px;
    letter-spacing: 1.4px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    color: #E6FF3D;
    background-color: #000;
    padding: 16px;
    text-align: center;
    border-radius: 8px;
    margin: 8px 0px;
    display: inline-block;
}

.button {
    margin-top: 10px;
    font-weight: 500;
    text-decoration: underline;
    font-size: 14px;
    color: #000;
}

.hero-buttons {
    margin-top: 24px;
    display: flex;
    gap: 16px;
}

.intro {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 16px 0px;
    color: #666F7E;
    line-height: 28px;
    font-weight: 100;
}

.linkedin {
    color: #E6FF3D;
    background-color: #000;
    padding: 6px;
}

/* Botões */
.btn {
    padding: 10px 20px;
    border-radius: 16px;
    font-weight: 500;
    font-size: 14px;
}

.primary {
    color: white;
    background: #ABBD2D;
}

.primary:hover {
    background: #11665E;
}

.secondary {
    border: 1px solid #E5E7EB;
    color: #000
}

.secondary:hover {
    border: 1px solid #E5E7EB;
    background: #E5E7EB;
}

/* Projectos */
.projects {
    display: grid;
    gap: 32px;
    margin-top: 48px;
}

.project-card {
    background-color: #ffffff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.project-card:hover {
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    transform: translateY(-6px);
}

.chip {
    display: inline-block;
    padding: 4px 10px;
    border: 1px solid #000;
    border-radius: 100px;
    font-size: 12px;
    line-height: 1;
    white-space: nowrap;
    color: #000;
    margin: 4px;
}

/* Imagem */
.project-image img {
    width: 100%;
    display: block;
}

/* Conteúdo */
.project-content {
    padding: 16px;
}

.project-content p {
    margin: 12px 0px;
    color: #666F7E;
    line-height: 1.6;
    font-size: 14px;
}

/* Link dos projectos */

.project-link {
    font-weight: 500;
    text-decoration: underline;
    font-size: 14px;
    color: #000;
}

.project-link svg {
    width: 16px;
    height: 16px;
}

.project-link:hover {
    text-decoration: none;
}

/* Competências */
.skills {
    display: grid;
    gap: 32px;
}

.inline-heading {
    margin-bottom: 64px;
}

.inline-heading h2 {
    margin-top: 12px;
}

.pills {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 16px;
}

.pill {
    background: #E8F7F6;
    color: #3aa6a0;
    border-radius: 24px;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 20px;

}

.pill:hover {
    background: #ABBD2D;
    color: #fff;
}

/* Timeline */

.timeline-section {
    background-color: #f6f5f2;
    padding: 100px 0;
}

.timeline-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.timeline-title {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    margin-bottom: 32px;
    position: relative;
    padding-left: 48px;
    text-align: left;
}

.timeline-title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 32px;
    height: 2px;
    background-color: #ABBD2D;
}

.timeline-item:hover::before {
    background-color: #ABBD2D;
}

.timeline-item {
    position: relative;
    padding-left: 48px;
    margin-bottom: 48px;
}

/* Linha vertical */

.timeline-item::before {
    content: "";
    position: absolute;
    left: 14px;
    top: 20px;
    width: 2px;
    height: 100%;
    background-color: #e2e2dc;
}

/* Pontos na timeline */
.timeline-dot {
    position: absolute;
    left: 4px;
    top: 6px;
    width: 20px;
    height: 20px;
    background-color: #ABBD2D;
    border-radius: 50%;
    border: 4px solid #f6f5f2;
}

/* Conteúdo */
.timeline-content h3 {
    margin-bottom: 4px;
}

.timeline-content h4 {
    font-weight: 500;
    font-size: 14px;
    color: #666F7E;
    margin-bottom: 12px;
}

.timeline-content p {
    color: #666F7E;
    line-height: 1.6;
    font-size: 14px;
}

/* Data */
.timeline-date {
    display: block;
    font-size: 12px;
    color: #3aa6a0;
    margin-bottom: 8px;
    text-transform: uppercase;
}

/* Footer */

.footer-section {
    background-color: #14181F;
    color: #e5e7eb;
}

/* Conteúdo principal */

.footer-content {
    text-align: center;
    padding-bottom: 80px;
}

.footer-sub-title {
    display: block;
    letter-spacing: 2px;
    font-size: 14px;
    color: #ABBD2D;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.footer-title {
    font-family: "Playfair Display", serif;
    font-size: 48px;
    line-height: 50px;
    margin-bottom: 24px;
    color: #ffffff;
}

.footer-text {
    max-width: 600px;
    margin: 0 auto 40px;
    color: #9ca3af;
    line-height: 1.6;
}

/* Email */
.footer-email {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    color: #ABBD2D;
    text-decoration: none;
    margin-bottom: 48px;
}

.footer-email:hover {
    text-decoration: underline;
}

/* Redes sociais no footer */
.footer-social {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-social a {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.08);

    display: flex;
    align-items: center;
    justify-content: center;

    color: #ffffff;
    text-decoration: none;
}

.footer-social a:hover {
    background-color: rgba(255, 255, 255, 0.16);
}

/* Svgs das redes sociais */
.footer-social svg {
    width: 20px;
    height: 20px;
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.footer-social a:hover {
    background: #ABBD2D;
}

/* Linha inferior */

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 24px 0;
}

.footer-bottom-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    font-size: 14px;
    color: #666F7E;
}

/* Breakpoint Mobile */
@media (max-width: 767px) {
    .hero-image img {
        width: 100%;
        max-height: none;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .hero-buttons .btn {
        width: 100%;
        text-align: center;
    }

    .menu {
        font-size: 10px;
        gap: 12px;
    }

    .menu a {
        font-size: 12px;
        gap: 32px;
    }

    .projects,
    .skills {
        grid-template-columns: 1fr;
    }
}

/* Breakpoint Tablet */
@media (min-width: 768px) {

    .hero-grid {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

    .skills {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Breakpoint Desktop */
@media (min-width: 1024px) {

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

    .skills {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 900px) {
    .timeline-grid {
        grid-template-columns: 1fr;
        gap: 64px;
    }
}